#root {
  margin: 16px;
  height: 150px
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}
.fighter-img-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.fighter-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}